extends layout

block content
  #banner.page-header
    .row
        .col-sm-12
            h1= title
  .row
    .col-sm-12
        p
            | Lorem ipsum dolor sit amet, debet propriae concludaturque pri te. An cum inani vivendo tincidunt, eos persius salutatus in. Omnes eligendi eu eum, cu duo doctus iisque. Ne mei adhuc adipisci cotidieque, usu ei summo quidam, sit et vidit deleniti imperdiet.
            | <br><br>
            | An quo consul prodesset, cetero copiosae scripserit vel at. Et cum perpetua pericula forensibus, nam ut ferri justo epicurei. No vis zril solet moderatius, discere vivendum salutatus id per, everti inimicus pri at. Te duo illum instructior delicatissimi.
            | <br><br>
            | Ut est alterum numquam impedit, alia docendi aliquando vis ad. Vim zril laboramus eu, perfecto corrumpit cum ex. Vide regione usu ea. Partem recteque at vim, vim cu gubergren eloquentiam, falli bonorum consequat pri te. Vis cu nominavi mnesarchum, has cu patrioque tincidunt referrentur. Quo ut debitis civibus democritum, vel liber nonumes ex, nec dicta constituto cu. Ad mel impetus viderer.
